<p>TESTING</p>
{% for product in collections['all'].products %}
  {{- product.title | link_to: product.url }}
{% endfor %}

{% schema %}
{
  "name": "Add Random Product",
  "presets": [
    {
      "name": "Add Random Product"
    }
  ]
}
{% endschema %}